{% extends 'shop/base.html' %}
{% load static %}
{% block title %} Ваша корзина заказов {% endblock title %}
{% block container %}
    <div class="container py-md-3">
{% endblock container %}

{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}

{% block shop %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div>
                <h1>Ваша корзина заказов</h1>
                <table>
                    <thead>
                    <tr>
                        <th>Фото</th>
                        <th>Наименование</th>
                        <th>Кол-во</th>
                        <th>Цена за ед.</th>
                        <th>Стоемость</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                        {% with product=item.product %}
                            <tr>
                                <td>
                                    <a href="{{ product.get_absolute_url }}">
                                        <img class="img-product-shots" src="
                                            {% if product.image %}
                                                {{ product.image.url }}
                                            {% else %}
                                                {% static 'image/no_image.png' %}
                                            {% endif %}">
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ product.get_absolute_url }}">
                                        {{ product.name }}
                                    </a>
                                </td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }} руб.</td>
                                <td>{{ item.total_price }} руб.</td>
                                <td><a href="{% url 'cart:cart_remove' product.id %}">Удалить</a></td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    <tr>
                        <td>Итого:</td>
                        <td colspan="4"></td>
                        <td>{{ cart.get_total_price }} руб.</td>
                    </tr>
                    </tbody>
                    <p>
                        <a href="{% url 'shop:product_list' %}" class="button light">Продолжить покупки</a>
                        <a href="#" class="button">Оформить</a>
                    </p>
                </table>
            </div>
        </div>
    </div>
    <script>
        function addReview(name, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("contactcomment").innerText = `${name}, `
        }
    </script>
{% endblock shop %}